.App {
  font-family: sans-serif;
  text-align: center;
  background-color: blueviolet;
}

.timer-input-h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 48px;
  border-radius: 10px;
}

.timer-input {
  color: purple;
  font-size: 36px;
  font-weight: bold;
}

.timer-input > input {
  font-size: 36px;
  font-weight: bold;
  width: 100px;
}

.timer {
  font-weight: 700;
  font-size: 72px;
  color: firebrick;
}

.start-btn,
.stop-btn {
  padding: 5px 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  font-size: 36px;
  color: purple;
  background-color: rgb(20, 1, 24);
  border: 2px solid rgb(138, 9, 207);
  border-radius: 10px;
}

.footer {
  position: relative;
  top: 100px;
}

.heart {
  color: rgb(97, 3, 83);
}